[Unit]
Description=Basilica API kubectl port-forward
After=network-online.target k3s.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kubectl -n {{ port_forward.namespace }} port-forward {{ port_forward.resource_kind }}/{{ port_forward.resource_name }} {{ port_forward.local_port }}:{{ port_forward.remote_port }} --address {{ port_forward.bind_address }}
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

