[Unit]
Description=Basilica Envoy Admin kubectl port-forward
After=network-online.target k3s.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kubectl -n {{ envoy_admin_forward.namespace }} port-forward {{ envoy_admin_forward.resource_kind }}/{{ envoy_admin_forward.resource_name }} {{ envoy_admin_forward.local_port }}:{{ envoy_admin_forward.remote_port }} --address {{ envoy_admin_forward.bind_address }}
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

