[Unit]
Description=Basilica WSS Port-Forward (alice-wss)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/local/bin/kubectl -n basilica-system port-forward svc/alice-wss 9944:9944 --address {{ wss_forward.bind_address | default('127.0.0.1') }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

