deployment:
  replicas: {{ gateway_controller_replicas }}
  pod:
    tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
    - key: basilica.ai/control-plane-only
      operator: Exists
      effect: NoSchedule
  envoyGateway:
    resources:
      requests:
        cpu: {{ gateway_controller_cpu_request }}
        memory: {{ gateway_controller_memory_request }}
      limits:
        cpu: {{ gateway_controller_cpu_limit }}
        memory: {{ gateway_controller_memory_limit }}
