[defaults]
# Look for roles here so playbooks can reference roles by name
roles_path = ./roles

# Reduce friction for first-time connections
host_key_checking = False
interpreter_python = auto_silent

